/* Header background */
header {
  background-image: url("../images/tokyo_night_wallpaper_access.jpg");
  background-size: cover !important;
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
}

/* Navbar bkg setting */
.navbar {
  transition: .5s;
}

/* Vertical line */
.vl {
  border-left: 4px solid green;
}

/* Hover for Works*/
.work-div {
}
.work-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.work-body {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
}
.work-div:hover .work-image {
  opacity: 0.3;
}
.work-div:hover .work-body {
  opacity: 1;
}
